<!DOCTYPE html>
html(lang='en')
    include head
    body
        include header
        main
            article
                .wrapper
                    h2 Busca una peli!
                    button(onclick="window.location.href='/search'") Ir al Buscador
            article
                .wrapper
                    h2 Tus pelis favoritas
                    button(onclick="window.location.href='/movies'") Ir a Mis pelis favoritas
            .wrapper
                a( href='/logout') Cerrar Sesión
        script(defer, src=`./JS/dashboard.js`)
        
                