<!DOCTYPE html>
html(lang="en")
    include head
    body
        include header
        //main
            .wrapper
                article de search
                    h2 Busca una peli!
                    button( /search) Ir al Buscador
                article de movies
                    h2 Tus pelis favoritas
                    button( /movies) Ir a Mis pelis favoritas
                article de search
                    button( /logout) Cerrar Sesión
                