<!DOCTYPE html>
html(lang='en')
  include head
  body
    include header
    main
      if num 
        article
          .wrapper
            h1#statuserror=num
            h5=message
            //!h3 ¿error404data?.message
            //button(onclick="window.location.href='/search'") Find a movie!    
            //article
              .wrapper
                h2 Your collection
                button(onclick="window.location.href='/movies'") My favorite movies!
            //.wrapper
              a( href='/logout') Log out
    script(defer, src=`/js/dashboard.js`)
