head
        meta(charset='UTF-8')
        link(rel='stylesheet', href='./CSS/style.css')
        script( defer src='./JS/script.js')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title OMDB - #{section}