header 
    .wrapper
        a(href='/')
            h1 OMDB

        if menu           
            span.material-icons menu

nav.none
    ul
        if !admin
            li
                .wrapper
                    a(href='/search') Find
        if !admin
            li
                .wrapper
                    a(href='/movies') My movies
        li
            .wrapper
                a(href='/logout')  Log out
