header 
    .wrapper
        h1 OMDB
        nav
            ul

                li
                    a(href='/search') Find
                li
                    a(href='/movies') My movies

                li
                    a(href='/logout')  Log out
