header 
    .wrapper
        h1 OMDB
        span.material-icons menu
nav.none
    ul
        li
            .wrapper
                a(href='/search') Find
        li
            .wrapper
                a(href='/movies') My movies
        li
            .wrapper
                a(href='/logout')  Log out
