header 
            .wrapper
                h1 OMDB
                //if logged in {
                    nav
                        ul
                            if(usuario){
                                li
                                    a(href='/search')
                                li
                                    a(href='/movies')
                            }
                                li
                                    a(href='/logout')
                    }    
                        