<!DOCTYPE html>
html(lang='en')
    include head
    body
        include header
        //main
            .wrapper
                button( get a /login)
                articulo de bienvenida
                    img(src=imgURL)
                    h2=message
           
