<!DOCTYPE html>
html(lang='en')
    include head
    script(defer, src=`./JS/index.js`)
    body
        include header
        //main
            a(href='/login') Iniciar Sesión
            article 
                .wrapper
                    img(src=imgURL) 
                    h2 Hello World!
           
