<!DOCTYPE html>
html(lang='en')
    include head
    script(defer, src=`/js/index.js`)
    body
        include header
        main
            article 
                .wrapper
                    img(src=imgURL) 
                    h2 Hasta pronto!
            .wrapper
                a(href='/login') Iniciar Sesión
