<!DOCTYPE html>
html(lang='en')
    include head
    body
        include header
        main
            article
                .wrapper
                    if !content
                    img
                    span rating
                    h2 data.Title
                        span {#data.year}
                    h4 director
                    p genero
                    p duracion
                    p reparto
                    p sinopsis
                    a i añadir a favoritos
        script(defer, src='/js/movie.js')   