<!DOCTYPE html>
html(lang='en')
    include head
    script(defer, src='./js/films.js')
    body
        include header
        main
            p=title
            //each movie in data.Search
                div
                    .wrapper
                        p=movie.Title
        
