<!DOCTYPE html>
html(lang='en')
    include head
    body
        include header
        //main
            .wrapper
                article
                    img
                    span rating
                    h2 titulo (año)
                    h4 director
                    p genero
                    p duracion
                    p reparto
                    p sinopsis
                    a img añadir a favoritos   