<!DOCTYPE html>
html(lang='en')
    include head
    body
        include header
        main
            article
                .wrapper
                    img
                    span rating
                    h2 titulo (año)
                    h4 director
                    p genero
                    p duracion
                    p reparto
                    p sinopsis
                    a i añadir a favoritos
        script(defer, src='./js/movie.js')   