<!DOCTYPE html>
html(lang='en')
    include head
    script(defer, src='./js/movies.js')
    body
        include header
        main
            each movie in data.Search
                div
                    .wrapper
                        p=movie.Title
        
