/** Variable setup */
:root {
  /** BG color*/
  --mainColor: #e4efff;
  /** Accent Color */
  --accentColor: #dd0063;
  /** Accent Color  Hover*/
  --accentColorHover: #ff1d7b;
  /** Main type */
  --mainFont: "Roboto", sans-serif;
  /** type main Color */
  --fontColor: #202020;
  /** Shadow Color */
  --shadColor: #20202040;
  /** Favourite default */
  --starDefault: #d6d6d6;
  /** Favourite color */
  --starColor: #ffd000;
  /** Favourite color */
  --starColorHover: #ecd56d;
}
/****** General Defaults Overrides ****/
/** Remove default type */
body {
  font-family: var(--mainFont);
  color: var(--fontColor);
  background: var(--mainColor);
}
/** Remove defauls anchor CSS */
a {
  text-decoration: none;
  color: var(--fontColor);
}
nav{
  transition: 0.25s;
  height: 6px;
  overflow:hidden;
}
nav.open{
  height:96px;
  transition: 0.25s;
}
nav.admin.open{
  height:32px;
  transition: 0.25s;
}
nav  ul{
  list-style: none;
  width: 100%;
  margin: 0;
}
nav ul li{
  text-indent: 0;
  text-justify: right;
  width: 100%;
  padding: 6px 0;
  background: var(--accentColor);
}
nav .wrapper {
  justify-content: flex-end;
}
ul li:nth-child(even){
  background: var(--accentColorHover);
}
/** Wrapper defaults */
.wrapper {
  width: 300px;
  margin: 0 auto;
  padding: 0.5px;
  display: flex;
}
/** General Button Behaviour */
button,
input[type="submit"] {
  box-sizing: border-box;
  background: var(--accentColor);
  border: none;
  padding: 9px 18px;
  border-radius: 12px;
  box-shadow: 0 3px 3px var(--shadColor);
  margin: 12px;
  text-transform: uppercase;
  font-family: var(--mainFont);
  color: var(--mainColor);
}
button:hover,
input[type="submit"]:hover {
  background: var(--accentColorHover);
}
button:active,
input[type="submit"]:active {
  background: var(--mainColor);
  color: var(--accentColorHover);
}
button:focus,
input[type="submit"]:focus, 
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 6px #4920ff;
}
/** Icon buttons */
button.icon {
  padding: 0;
  background: var(--mainColor);
}
button.icon > span.material-icons {
  color: var(--starDefault);
  padding: 6px;
}
button.icon:hover > span.material-icons {
  color: var(--starColorHover);
}
button.icon > span.material-icons.favourite {
  color: var(--starColor);
}
button.icon:hover > span.material-icons.favourite {
  color: var(--starColorHover);
}
form{
    width: 100%;
    display: flex;
  flex-flow: column;
}
div.wrapper > h2{
    align-self: flex-start;
}
form > input[type="submit"] {
  align-self:flex-end;
  margin-right:0 ;
}
form > label{
  margin: 6px;
}
form > input[type="email"],
form > input[type="password"],
form > input[type="text"] {
  padding: 6px;
  margin-bottom: 12px;
  width: 100%;
  align-self: center;
  border: none;
  border-radius: 3px;
  border-bottom: #4920ff solid 6px;
  background: #9bbbff;
  color: white;

  
}
/************ Header ************/
header {
  background:#4920ff;
  height: 56px;
}
header h1{
  margin: 12px 0;
  color: #fff;
}
header .wrapper {
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
header span {
  font-size: 90px;
  cursor: pointer;
}
/************ Nav ***************/
nav  ul  li{
  text-align: right;
  overflow: hidden;
}
nav ul {
  padding: 0;
}
/************ Main Content ******/
main {
  width: 100%;
}
article {
  margin: 0;
  width: 100%;
  background: var(--mainColor);
}
article > .wrapper {
  justify-content: center;
}
article > .wrapper > a:first-of-type {
  font-weight: bold;
  margin: 12px 0;
  text-transform: uppercase;
}
article#login > .wrapper {
  flex-flow: column;
  align-items: center;
}
div.g-signin2{
  width: 100%;
}
div.g-signin2 div{
  border-radius: 6px;
}
/**************/

