/** Variable setup */
:root {
  /** Main color*/
  --mainColor: #4920ff;
  /** Card background*/
  --cardColor: #e3e6eb;
  /** BG color*/
  --bgColor: #f7faff;
  /** Accent Color */
  --accentColor: #dd0063;
  /** Accent Color  Hover*/
  --accentColorHover: #ff1d7b;
  /** Main type */
  --mainFont: "Roboto", sans-serif;
  /** type main Color */
  --fontColor: #202020;
  /** Shadow Color */
  --shadColor: #20202040;
  /** Favourite default */
  --starDefault: #d6d6d6;
  /** Favourite color */
  --starColor: #ffd000;
  /** Favourite color */
  --starColorHover: #ecd56d;
}
/****** General Defaults Overrides ****/
/** Remove default type */
body {
  font-family: var(--mainFont);
  color: var(--fontColor);
  background: var(--bgColor);
}
/** Remove defauls anchor CSS */
h5 {
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--fontColor);
}
nav {
  transition: 0.25s;
  height: 6px;
  overflow: hidden;
  box-shadow: 0 2px 12px #00000040;
  z-index: 2;
}
nav.open {
  height: 91px;
  transition: 0.25s;
}
nav.admin.open {
  height: 31px;
  transition: 0.25s;
}
nav ul {
  list-style: none;
  width: 100%;
  margin: 0;
}
nav ul li {
  text-indent: 0;
  text-justify: right;
  width: 100%;
  padding: 6px 0;
  background: var(--accentColor);
}
nav .wrapper {
  justify-content: flex-end;
}
ul li:nth-child(even) {
  background: var(--accentColorHover);
}
/** Wrapper defaults */
.wrapper {
  width: 300px;
  margin: 0 auto;
  padding: 0.5px;
  display: flex;
}
/** General Button Behaviour */
button,
input[type="submit"] {
  box-sizing: border-box;
  background: var(--accentColor);
  border: none;
  padding: 9px 18px;
  border-radius: 12px;
  box-shadow: 0 3px 3px var(--shadColor);
  margin: 12px;
  text-transform: uppercase;
  font-family: var(--mainFont);
  color: var(--bgColor);
}
button:hover,
input[type="submit"]:hover {
  background: var(--accentColorHover);
}
button:active,
input[type="submit"]:active {
  background: var(--bgColor);
  color: var(--accentColorHover);
}
button:focus,
input[type="submit"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 6px var(--mainColor);
}
/** Icon buttons */
button.icon {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
#search > input[type="text"] {
  width: 100%;
  margin: 12px 0;
}
#search button.icon {
  margin-right: 0;
}
form {
  width: 100%;
  display: flex;
  flex-flow: column;
}
div.wrapper > h2 {
  align-self: flex-start;
}
form > input[type="submit"] {
  align-self: flex-end;
  margin-right: 0;
}
form > label {
  margin: 6px;
}
input[type="email"],
input[type="password"],
input[type="text"] {
  padding: 6px;
  margin-bottom: 12px;
  width: 100%;
  align-self: center;
  border: none;
  border-radius: 3px;
  border-bottom: var(--mainColor) solid 6px;
  background: #9bbbff;
  color: var(--bgColor);
}
input.error {
  border-bottom: var(--accentColor) solid 6px;
  background: #ff9dc9;
}
/************ Header ************/
header {
  background: var(--mainColor);
  height: 56px;
}
header h1 {
  margin: 12px 0;
  color: var(--bgColor);
}
header .wrapper {
  justify-content: space-between;
  align-items: center;
  color: var(--bgColor);
  font-family: "Press Start 2P", cursive;
}
header span {
  font-size: 90px;
  cursor: pointer;
}
/************ Nav ***************/
nav ul li {
  text-align: right;
  overflow: hidden;
}
nav ul {
  padding: 0;
}
/************ Main Content ******/
main {
  width: 100%;
  padding: 24px 0;
}
main .wrapper {
  flex-direction: column;
}
main img {
  width: 40%;
  border-radius: 12px 0 0 12px;
  box-shadow: 0 12px 12px #00000040;
}
main > section .wrapper a {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 12px;
  border-radius: 12px;
}
main > section .wrapper a div:first-of-type {
  width: 60%;
  border-radius: 0 12px 12px 0;
  padding: 12px 24px;
  background: var(--cardColor);
  display: flex;
  flex-flow: column;
  justify-content: center;
  box-shadow: 0 12px 12px #00000040;
}
div.dockbutton {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
a.dock {
  width: 24px;
  background: transparent;
  padding: 0px;
  box-shadow: 0 0 0 transparent;
  margin: 0;
  margin-right: 12px;
}
a.dock span.material-icons {
  margin: 0;
  color: var(--accentColor);
}
article {
  margin: 0;
  width: 100%;
  background: var(--bgColor);
}
article > .wrapper {
  justify-content: center;
}
article > .wrapper > a:first-of-type {
  font-weight: bold;
  margin: 12px 0;
  text-transform: uppercase;
}
article#login > .wrapper {
  flex-flow: column;
  align-items: center;
}
div.g-signin2 {
  width: 100%;
}
div.g-signin2 div {
  border-radius: 6px;
}

h2.TitleColor {
  color: #dd0063;
}
/**************/
h1#statuserror {
  font-family: "Press Start 2P", cursive;
  font-size: 90px;
  color: var(--mainColor);
  margin-bottom: 0;
}
